.container{
    width: 100%;
    padding: 2vw 13.45vw;
    padding-bottom: 0vw;
}
.container_sc{
    width: 100%;
    padding: 0vw 13.45vw;
    padding-bottom: 4vw;
}
.container_layout{
    width: 100%;
    display: grid;
    grid-template-columns: 77% 23%;
    margin-top: 1.85vw;
}
.container_content{
    padding-right: 4vw;
}
.table_of_content{
  border: .1vw solid #FF851A;
  padding: 1.3vw;
  padding-bottom: .6vw;
  border-radius: .7vw;
  margin-bottom: 1.5vw;
  width: 70%;
}
.table_of_content h2{
  font-size: 1.1vw !important;
}
.table_of_content ul li{
  list-style: decimal;
}
.table_of_content ul li a{
  font-size: .9vw;
  color:#4C4C4C;
  letter-spacing: .05vw;
}
@media (max-width:768px) {
  .table_of_content{
    border: .12vw solid #FF851A;
    padding: 5vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    margin-bottom: 4.5vw;
    margin-top: 5vw;
    width: 100%;
  }
  .table_of_content h2{
    font-size: 4vw !important;
    margin-bottom: 2.4vw !important;
  }
  .table_of_content ul li{
    margin-bottom: 2vw !important;
  }
  .table_of_content ul li a{
    font-size: 3vw;
    letter-spacing: .08vw;
  }
}
.detail_tag{
  display: flex;
  gap: .6vw;
}
.detail_tag button{
    font-family: var(--poppins);
    letter-spacing: .03vw;
    font-size: .7vw;
    background-color: transparent;
    border: .1vw solid #6D6E70;
    color: #FF851A;
    border-radius: 100vw;
    padding: .25vw .7vw;
    padding-bottom: .2vw;
    cursor: pointer;
}
.content_heading{
    display: flex;
    flex-direction: column;
    gap: .72vw;
    margin-bottom: 1.8vw;
}
.content_heading h1{
    font-family: var(--montserrat);
    font-size: 2.23vw;
    color: #4C4C4C;
    letter-spacing: .03vw;
}
.content_heading span{
    font-size: .72vw;
    font-family: var(--montserrat);
    color: #4C4C4C;
}
.content_text p{
    font-family: var(--montserrat);
    font-size: .81vw;
    color: #4C4C4C;
    letter-spacing: .036vw;
    line-height: 1.6;
    padding-right: 1.8vw;
    margin-bottom: 1vw;
}
.content_text ul, .content_text ol{
  margin-left: 1.2vw;
  margin-bottom: 1vw;
}
.content_text ul li, .content_text ol li{
  font-family: var(--montserrat);
  font-size: .81vw;
  color: #4C4C4C;
  letter-spacing: .036vw;
  line-height: 1.6;
  margin-bottom: .4vw;
}
.content_text strong, .content_text b{
  font-family: var(--montserrat);
    font-size: .81vw;
    color: #4C4C4C;
    letter-spacing: .036vw;
    line-height: 1.6;
}
.content_text img{
    width: 100%;
    border-radius: 1.35vw;
    margin: 1.9vw 0;
}
.content_text h1, .content_text h2, .content_text h3, .content_text h4, .content_text h5, .content_text h6{
    font-family: var(--montserrat);
    font-size: 1.1vw;
    letter-spacing: .04vw;
    color: #4C4C4C;
    margin-bottom: .7vw;
}
 .sidebar_layout{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 1.9vw;
 }
 .sidebar_layout_sc{
  margin-top: 1vw;
 }
.sidebar_heading{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.sidebar_heading_second{
  margin-top: 1.8vw;
}
.sidebar_heading h4{
    font-size: 1.33vw;
    font-family: var(--montserrat);
    letter-spacing: .03vw;
    font-weight: 600;
    color: #5A5A5A;
}
.sidebar_heading_second h4{
  font-size: .85vw;
}
.sidebar_heading a{
    text-align: end;
    display: block;
    width: max-content;
    color: #FF851A;
    font-size: .56vw;
    font-family: var(--montserrat);
    letter-spacing: .03vw;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: .18vw;
}
.article_image img{
    width: 100%;
}
.article_box{
    width: 100%;
  }
  .article_image{
    width: 100%;
    height: 10.4vw;
    position: relative;
    overflow: hidden;
    border-radius: 1.2vw;
    margin-bottom: .85vw;
  }
  .article_image_product{
    border: .1vw solid #FF851A !important;
    height: 15vw;
    background-color: white;
  }
  .article_image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .4s all;
    z-index: 1;
  }
  .article_box:hover .article_image img{
    transform: scale(1.1);
  }
  .article_image_doctor{
    width: 16.9vw;
  }
  .article_image_product img{
    object-fit: contain;
  }
  .article_heading{
    width: 100%;
    margin-bottom: .4vw;
  }
  .article_heading h3{
    font-size: .95vw;
    font-family: var(--montserrat);
    letter-spacing: .03vw;
    font-weight: 600;
    color: #4C4C4C;
    -webkit-line-clamp: 2;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .4s all;
  }
  .article_box:hover .article_heading h3{
    color: #FF851A;
  }
  .article_product .article_heading h3{
    -webkit-line-clamp: 1;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .article_content{
    display: flex;
    flex-direction: column;
  }
  .article_content span{
    font-size: .66vw;
    font-family: var(--montserrat);
    letter-spacing: .04vw;
    color: #4C4C4C;
  }
  .article_content p{
    font-size: .66vw;
    font-family: var(--montserrat);
    letter-spacing: .04vw;
    color: #4C4C4C;
    -webkit-line-clamp: 3;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .article_content a{
    text-decoration: none;
  }
  .article_image button{
    position: absolute;
    z-index: 2;
    left: .7vw;
    top: .7vw;
    background-color: #ffffff3d;
    backdrop-filter: blur(9.800000190734863px);
    background: #FFFFFF4D;
    font-family: var(--poppins);
    letter-spacing: .05vw;
    color: white;
    font-size: .71vw;
    font-weight: 300;
    outline: none;
    cursor: pointer;
    padding: .2vw .7vw;
    border: .1vw solid white;
    border-radius: 100vw;
  }
  .article_section a{
    text-decoration: none;
  }
  .btn_more{
    background-color: transparent;
    outline: none;
    border: .1vw solid #FF851A;
    font-size: .8vw;
    font-family: var(--poppins);
    letter-spacing: .03vw;
    text-decoration: none;
    font-weight: 400;
    border-radius: 100vw;
    padding: .3vw .8vw;
    margin-top: .9vw;
    cursor: pointer;
    margin-top: .7vw;
    color: #FF851A;
    transition: .4s all;
  }
  .btn_more:hover{
    background-color: #FF851A;
    color:white;
  }

  .layanan{
    padding-right: 3vw;
  }
  .layanan_heading h3{
    font-size: 2vw;
    font-family: var(--fairplay);
    letter-spacing: .04vw;
    color: #4C4C4C;
  }
  .layanan_heading h3 span{
    color: #FF851A;
  }


  .box_service_layout{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1vw;
  }
  .box_service{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    border: .1vw solid #E6E6E6;
    padding: 1vw;
    border-radius: 1vw;
  }
  .box_service_image{
    width: 100%;
    height: 10vw;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
  }
  .box_service_content a{
    text-decoration: none;
  }
  .box_service_image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .4s all;
  }
  .box_service:hover .box_service_image img{
    transform: scale(1.1);
  }
  .box_service_content{
    padding-left: 1.3vw;
  }
  .box_service_content h2{
    font-size: 1.3vw;
    font-family: var(--montserrat);
    letter-spacing: .04vw;
    color: #4C4C4C;
    margin-bottom: .6vw;
    -webkit-line-clamp: 1;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      transition: .3s all;
      text-overflow: ellipsis;
  }
  .box_service:hover .box_service_content h2{
    color: #FF851A;
  }
  .box_service_content p{
    font-size: .8vw;
    color: #5A5A5A;
    letter-spacing: .04vw;
    font-family: var(--poppins);
    -webkit-line-clamp: 4;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .box_service_btn button{
    background-color: transparent;
    border: .1vw solid #FF851A;
    border-radius: 100vw;
    font-size: .8vw;
    letter-spacing: .04vw;
    color: #4C4C4C;
    font-family: var(--poppins);
    padding: .2vw .8vw;
    margin-top: .8vw;
    cursor: pointer;
    transition: .4s all;
  }
  .box_service_btn button:hover{
    background-color: #FF851A;
    color: white;
  }

  .product_detail{
    margin-top: 2vw;
    margin-bottom: 2.6vw;
  }
  .product_detail_layout{
    margin-top: 1vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.6vw;
  }

  .dekstop_block{
    display: block;
  }
  .mobile_block{
    display: none;
  }

  @media (max-width:768px) {
    .dekstop_block{
      display: none;
    }
    .mobile_block{
      display: block;
    }
    .product_detail{
      margin-top: 4vw;
      margin-bottom: 7vw;
    }
    .product_detail_layout{
      margin-top: 3.3vw;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4vw;
    }
    

    .layanan{
      margin-top: 5vw;
    }
    .layanan_heading h3{
      font-size: 7vw;
      letter-spacing: .06vw;
    }
    .box_service_layout{
      width: 100%;
      margin-top: 4vw;
    }
    .box_service{
      grid-template-columns: 100%;
      padding: 2vw;
      padding-bottom: 3vw;
      grid-gap: 4vw;
      border-radius: 2vw;
    }
    .box_service_image{
      height: 42vw;
      border-radius: 2vw;
    }
    .box_service_content{
      padding-left: 1vw;
      padding-right: 1vw;
    }
    .box_service_content h2{
      font-size: 3.8vw;
      margin-bottom: 2vw;
    }
    .box_service_content p{
      font-size:2.8vw;
      letter-spacing: .08vw;
    }
    .box_service_btn button{
      font-size: 2.8vw;
      letter-spacing: .08vw;
      padding: .7vw 3vw;
      margin-top: 4vw;
    }
    .box_service_btn button:hover{
      background-color: #FF851A;
      color: white;
    }

    .container{
      padding: 4vw 4vw;
      padding-bottom: 7vw;
    }
    .container_sc{
      padding: 0vw 4vw;
      padding-bottom: 4vw;
    }
    .container_layout{
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      margin-top: 2vw;
    }
    .container_content{
      padding-right: 0;
    }
    .detail_tag{
      display: flex;
      gap: 2vw;
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 3vw;
    }
    .detail_tag::-webkit-scrollbar{
      display: none;
    }
    .detail_tag button{
      letter-spacing: .06vw;
      font-size: 3vw;
      padding: .8vw 3vw;
      width: max-content;
    }
    .content_heading{
      gap: 3vw;
      margin-bottom: 3vw;
    }
    .content_heading h1{
      font-size: 4.3vw;
      letter-spacing: .06vw;
    }
    .content_heading span{
      font-size: 3vw;
     }
     .content_text p{
      font-size: 3vw;
      letter-spacing: .05vw;
      line-height: 1.6;
      padding-right: 0;
      margin-bottom: 3.4vw;
    }
    .content_text h1, .content_text h2, .content_text h3, .content_text h4, .content_text h5, .content_text h6{
      font-size: 4vw;
      letter-spacing: .07vw;
      margin-bottom: 3.4vw;
  }
    .content_text strong, .content_text b{
        letter-spacing: .05vw;
        line-height: 1.6;
        font-size: inherit;
    }
    .content_text img{
      border-radius: 2.5vw;
      margin: 4vw 0;
    }
    
    .content_text ul, .content_text ol{
        margin-left: 3vw;
    }
    .content_text ul li, .content_text ol li{
        font-size: 3vw;
        letter-spacing: .05vw;
    }

    .container_sidebar{
      margin-top: 10vw;
    }
    .sidebar_layout{
      display: flex;
      flex-direction: column;
      gap: 6vw;
      margin-top: 4vw;
   }
   .sidebar_heading h4{
      font-size: 4vw;
      letter-spacing: .06vw;
    }
    .sidebar_heading a{
        font-size: 3vw;
        letter-spacing: .06vw;
        margin-bottom: .18vw;
    }
    .article_image{
      height: 50vw;
      border-radius: 3vw;
      margin-bottom: 3vw;
    }
    .article_heading{
      height: max-content;
      margin-bottom: 2vw;
    }
    .article_product .article_heading h2{
      -webkit-line-clamp: 1;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .article_heading h3{
      font-size: 3.6vw;
    }
    .article_content span{
      font-size: 3vw;
    }
    .article_content p{
      font-size: 3vw;
      letter-spacing: .1vw;
      line-height: 1.5;
    }
    .article_image button{
      left: 2.3vw;
      top: 2.3vw;
      font-size: 3vw;
      padding: .7vw 3vw;
    }
    .article_section a{
      text-decoration: none;
    }
    .btn_more{
      font-size: 3vw;
      padding: .8vw 3vw;
      padding-top: 1vw;
      margin-top: 5vw;
    }
    .btn_more:hover{
      background-color: #FF851A;
      color:white;
    }

    .article_image_product{
      height: 35vw;
    }
    .article_image_doctor{
      width: 100%;
      height: 20vw;
    }
    .article_image_doctor img{
      object-fit: cover;
    }
    .doctor_box{
      display: grid;
      grid-template-columns: 25% 75%;
    }
    .doctor_box .article_content {
      padding-left: 3vw;
      padding-top: 3vw;
    }
}